<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General Settings -->
  <category label=32000>
    <setting id="debug"         type="bool"    label="32009" default="false" />
  </category>


  <!-- Guide Settings -->
  <category label="32100">
    <setting id="channel_name"   type="enum"   label="32104" lvalues="32101|32102|32103" default="2"/>
    <setting id="hide_unknown"   type="bool"   label="32105" default="true" />
    <setting id="hide_protected" type="bool"   label="32106" default="true" />
    <setting id="hide_ch_no"     type="text"   label="32109" default="" />
    <setting id="extended"       type="bool"   label="32107" default="false" />
    <setting id="guidedays"      type="number" label="32108" default="1" visible="eq(-1,true)" />
  </category>


  <!-- Network Settings -->
  <category label=32200>
    <setting id="record"         type="bool"   label="32201" default="true" />
    <setting id="recordforlive"  type="bool"   label="32202" default="true"                                 visible="eq(-1,true)" />
    <setting id="preferred"      type="text"   label="32203" default=""                      visible="eq(-1,false) | eq(-2,false)"  />
    <setting id="blacklist"      type="text"   label="32204" default=""                      visible="eq(-2,false) | eq(-3,false)"  />
    <setting id="protocol"       type="select" label="32205" values="TCP|UDP" default="TCP"  visible="false" />
    <setting id="port"           type="number" label="32206" default=5000       visible="(eq(-1,1) + (eq(-4,false) | eq(-5,false)))" />
    <setting id="use_legacy"     type="bool"   label="32207" default="false"    visible="(eq(-2,1) + (eq(-5,false) | eq(-6,false)))" />
    <setting id="use_stream_url" type="bool"   label="32208" default="false"    visible="eq(-3,0)" />
  </category>


</settings>
